{{#each errors}}
    <div class="alert error-msg normalCase">{{texto}}</div>
    {{else}}
{{/each}}
<div id="UserSettings">
    <section class="userSettings comunData">
            <section class="OptionTiteleHeader">
                    <span class="titleFinesse">Configurações do Usuário</span>
            </section>
        <form class="flexCenterColumn" action="/users/register" method="post">
                <div class="wrapper">
                    <div class="input-Data">
                        <input type="text" name="nameCli" required value = "{{user.name}}">
                        <section class="line"></section>
                        <label class="title3">Nome</label>
                    </div>
                    <div class="input-Data">
                        <input  type="text" name="emailCli" required value="{{user.email}}">
                        <section class="line"></section>
                        <label class="title3">Email</label>
                    </div> 
                    <div class="input-Data">
                        <input type="text" name="cellCli" required value="{{user.cell}}">
                        <section class="line"></section>
                        <label class="title3">Numero de Celular</label>
                    </div>
                    <div class="input-Data">
                        <input type="password" name="passCli" required value="{{user.password}}">
                        <section class="line"></section>
                        <label class="title3">Senha</label>
                    </div>
                </div>
            <input class="linkButton update" type="submit" value="Atualizar">
        </form>
    </section>
    <section class="userSettings endereco">
        <section class="OptionTiteleHeader">
                    <span class="titleFinesse">Endereço</span>
            </section>
        <form class="flexCenterColumn" action="/users/register" method="post">
                <div class="wrapper">
                    <div class="input-Data">
                        <input type="text" name="CEP" required >
                        <section class="line"></section>
                        <label class="title3">Cep</label>
                    </div>
                    <div class="input-Data">
                        <input  type="text" name="Logra" required>
                        <section class="line"></section>
                        <label class="title3">Logra</label>
                    </div> 
                    <div class="input-Data">
                        <input type="text" name="Bairro" required>
                        <section class="line"></section>
                        <label class="title3">Bairro</label>
                    </div>
                    <div class="input-Data">
                        <input type="text" name="cidade" required>
                        <section class="line"></section>
                        <label class="title3">Cidade</label>
                    </div>
                    <div class="input-Data">
                        <input type="text" name="numEdi" required>
                        <section class="line"></section>
                        <label class="title3">Numero</label>
                    </div>
                    <div class="input-Data">
                        <input type="text" name="comple" required>
                        <section class="line"></section>
                        <label class="title3">Complemento</label>
                    </div>                    
                </div>
            <input class="linkButton save" type="submit" value="Salvar">
        </form>
    </section>
</div>