<div class="contentDetails">
            <div id="idtop">
                <section class="imgDetailsProd">
                    <img id="imageProd" src="{{product.imageProd}}" alt="FOTO">
                </section>
                <section class="infoDetails">
                    <section class="infoDetailsProd">
                        <span id="nameProd" class="title1">{{product.nameProd}}</span>
                        <p id="valProd">R${{product.valProd}}</p>
                        <section class="flexStartColumn">
                            <span class="title2" style="text-align: justify;">Tamanhos:</span>
                            {{#each data}}
                                <span class="title3"><a style="text-decoration: none; color: inherit;" href="/product/details/{{this.idProd}}">{{this.sizeProd}}</a></span>
                            {{/each}}
                        </section>
                        <button type="submit"  id="addCart" onclick="getProductContent()" class="button title2"> Add to Cart </button>
                    </section>
                    <section class="infoDetailsProdCep">
                        <span class="title3"> Calcular Frete </span>
                        <section class="infoDetailsProdCepRow">
                            <i class="fas fa-truck"></i>
                            <form action="/product/details/{{product.idProd}}" method="post">
                                <div class="wrapper">
                                    <div class="input-Data">
                                        <input id="cep-frete-value" type="text" name="cep" required>
                                        <section class="line"></section>
                                        <label class="title3">CEP</label>
                                    </div>
                                </div>
                                <input class="buttonBlackWhite title2" id="cep-frete" type="submit" value="OK">
                            </form>
                        </section>
                         
                    </section>
                </section>
            </div>
            {{>_cep}}
            <section class="detailsFooter">
                <span class="title1">Description</span>
                <p> Tamanho:<span id="sizeProd">{{product.sizeProd}}</span></p>
                <p> Tipo: <span id="typeProd">{{product.typeProd}}</span></p>
                <p> Cor: <span id="colorProd">{{product.colorProd}}</span></p>
                <p> Peso: <span id="wieghtProd">{{product.wieghtProd}} g</span></p>
                <p> Descrição: <span id="descProd">{{product.descProd}}</span></p>
              
            </section>
        </div>
            <script data-main = "scripts/main" src="/scripts/index.js"></script>